.link {
  color: var(--text-unfocus);
  text-decoration: underline;
  cursor: pointer;

  &:link {
    color: var(--text-unfocus); /* 通常状態のリンクの色 */
  }

  &:visited {
    color: var(--text-unfocus); /* 訪問済みのリンクの色 */
  }

  &:hover {
    color: var(--text-primary); /* ホバー状態のリンクの色 */
  }

  &:active {
    color: var(--text-unfocus); /* アクティブ状態のリンクの色 */
  }
}
.noUnderline {
  text-decoration: none;
}
