.artsOrigin {
  user-select: none;
  width: 100%;
  height: 300px;
}
.art1 {
  width: 256px;
  top: 0px;
  left: calc(50% - 128px - 20px);
}

.art2 {
  --border-width: 3px;
  width: calc(256px - var(--border-width) * 2);
  top: 40px;
  left: calc(50% - 128px + 20px);
  border: var(--border-width) solid var(--text-primary);
}
