.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    // filter: blur(1px);
    opacity: 0.8;
  }
}
