body {
  background-color: #303030; /* 黒っぽい背景色 */
  color: #e2e2e2; /* 白に近い文字色 */
  text-align: center;
}

a:link {
  color: #a5a5a5; /* 通常状態のリンクの色（赤） */
}

a:visited {
  color: #a5a5a5; /* 訪問済みのリンクの色（緑） */
}

a:hover {
  color: #a5a5a5; /* ホバー状態のリンクの色（青） */
}

a:active {
  color: #a5a5a5; /* アクティブ状態のリンクの色（マゼンタ） */
}
