// import fonts
@import url("./fonts/codec-cold.css");

:root {
  --background-primary: #e2e2e2;
  --text-primary: #303030;
  --text-unfocus: #676767;
  --border-primary: #303030;
}

:root[data-theme="dark"] {
  --background-primary: #303030;
  --text-primary: #e2e2e2;
  --text-unfocus: #a5a5a5;
  --border-primary: #e2e2e2;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  text-align: center;

  // reset user agent stylesheet
  margin: 0;
}
