// import fonts
@import url("./fonts/codec-cold.css");

body {
  background-color: #303030; /* 黒っぽい背景色 */
  color: #e2e2e2; /* 白に近い文字色 */
  text-align: center;

  // reset user agent stylesheet
  margin: 0;
}
