@font-face {
    font-family: 'Codec Cold';
    font-style: normal;
    font-weight: 400;
    src: local('Codec Cold'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-News-Italic-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold';
    font-style: normal;
    font-weight: 400;
    src: local('Codec Cold'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-Regular-Italic-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold';
    font-style: normal;
    font-weight: 250;
    src: local('Codec Cold'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-Extralight-Italic-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold';
    font-style: normal;
    font-weight: 250;
    src: local('Codec Cold'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-Thin-Italic-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold';
    font-style: normal;
    font-weight: 300;
    src: local('Codec Cold'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-Light-Italic-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold';
    font-style: normal;
    font-weight: 700;
    src: local('Codec Cold'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-Bold-Italic-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold';
    font-style: normal;
    font-weight: 800;
    src: local('Codec Cold'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-ExtraBold-Italic-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold';
    font-style: normal;
    font-weight: 900;
    src: local('Codec Cold'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-Heavy-Italic-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold Trial';
    font-style: normal;
    font-weight: 400;
    src: local('Codec Cold Trial'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-Regular-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold Trial';
    font-style: normal;
    font-weight: 400;
    src: local('Codec Cold Trial'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-News-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold Trial';
    font-style: normal;
    font-weight: 250;
    src: local('Codec Cold Trial'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-Extralight-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold Trial';
    font-style: normal;
    font-weight: 250;
    src: local('Codec Cold Trial'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-Thin-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold Trial';
    font-style: normal;
    font-weight: 300;
    src: local('Codec Cold Trial'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-Light-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold Trial';
    font-style: normal;
    font-weight: 700;
    src: local('Codec Cold Trial'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-Bold-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold Trial';
    font-style: normal;
    font-weight: 800;
    src: local('Codec Cold Trial'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-ExtraBold-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold Trial';
    font-style: normal;
    font-weight: 900;
    src: local('Codec Cold Trial'), url('https://fonts.cdnfonts.com/s/14895/Codec-Cold-Heavy-trial.woff') format('woff');
}


